
<!-- ****THIS IS NOW THE FIRST PAGE THAT WILL APPEAR**** -->
<ion-header>
      <ion-toolbar color="primary-pale">
        <!-- no need for the "x" -->
          <ion-buttons end>
              <button ion-button icon-only (click)="dismiss()">
                <!-- span is new -->
                  <!-- <span ion-text color="primary" showWhen="ios">Cancel</span> -->
                <ion-icon name="close"></ion-icon></button>
            </ion-buttons>  
            <ion-title>LOGIN</ion-title>
          
        </ion-toolbar>   
  </ion-header>
  
  
  <ion-content padding>
      <ion-grid>
          <ion-title align="center"><h1> Welcome to Sunset RV </h1></ion-title>
          <div align="center">Washington State's Premier RV Dealership!</div>
        <ion-row> 
          <ion-col>
           <div><img class="logo" height="100" width="150" src="assets/images/Logo.png"></div>
            </ion-col>
            </ion-row>
          </ion-grid>
    
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="text" formControlEmail="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item> 

          <!-- need more space in between but how? -->
          <ion-grid><button ion-button block class="marginTop" (click)="onSubmit()">LOGIN</button>
            
            <!-- need this centered and smaller font -->
          <ion-label align="center">(Forgot your Password?)</ion-label></ion-grid>
      
          <!-- need to center and push down further -->
          <ion-grid>
            <p align="center">Do not have an account?</p> 
          <!-- why is button looking different?-->
          <button iion-button block (click)="openRegister()">SIGNUP</button>
         </ion-grid>
        </form>
  </ion-content>

  <ion-footer>
      <ion-toolbar color="primary">
    

      </ion-toolbar>
    </ion-footer>

  
  
   
    <!-- <ion-tabs>
        <ion-tab [root]="specialsRoot" tabTitle="RV-Specials" tabIcon="chat"></ion-tab>
       </ion-tabs>
  
  
    <button ion-button secondary menuToggle>Click for Menu</button>
    
  </ion-content>
  
    <ion-grid> 
        <ion-row align-items-center> 
          <ion-col col-12 col-lg-4> 
    <ion-card *ngIf="rvs">
      <img src="{{BaseURL + rvs.image}}"/>
      <ion-card-content>
        <ion-card-title>
          {{rvs.name | uppercase}}
        </ion-card-title>
        <p>
          {{rvs.description}}
        </p>
      </ion-card-content>
    </ion-card>
          </ion-col>
        </ion-row>
    </ion-grid>
  
  
  
    <div [hidden]="rvs || rvsErrMess">
      <ion-spinner></ion-spinner>
      <h4>Loading . . . driving off the lot</h4>
    </div>
    <div *ngIf="rvsErrMess">
      <h2>Error</h2>
      <h4>{{rvsErrMess}}</h4>
    </div>  -->





