<ion-header>
    <ion-navbar color="primary">
        <ion-buttons start>
            <button ion-button icon-only (click)="viewCtrl.dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
       <ion-title>My RVs</ion-title>
   </ion-navbar>
</ion-header>
  
  
  <!-- <ion-content padding> -->

    <ion-content class="card-background-page">
    <ion-fab right bottom>
          <button ion-fab color="primary"><ion-icon name="logo-facebook"></ion-icon></button>
   
      </ion-fab>
      <ion-fab left bottom >
        <button ion-fab>Share</button>
      </ion-fab>
    </ion-content>
  
    <ion-footer>
        <ion-toolbar color="primary">
            <ion-buttons start>
                <button ion-button (click)="openLogout()">Logout</button>  
              </ion-buttons>
      
          <ion-buttons end>
             <!-- No need of the heart inside the saved items page -->
              <!-- <button ion-button  (click)="openFavorite()">
                  <ion-icon name="heart-outline"></ion-icon></button> -->
              <button ion-button  (click)="openSettings()">
                      <ion-icon name="settings"></ion-icon></button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>


    <!-- <div *ngIf="favorites">
      <ion-list>
        <ion-item-sliding *ngFor="let favorite of favorites" #item>
        <ion-item>
          <ion-thumbnail item-left>
            <img src="{{BaseURL + favorite.image}}" />
          </ion-thumbnail>
          <h3>{{ favorite.name }}</h3>
          <p>{{ favorite.description }}</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteFavorite(item, favorite.id)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
    <div [hidden]="favorites || errMess">
      <ion-spinner></ion-spinner>
      <h4>Loading . . . your favorite RVs</h4> -->
    <!-- </div>
    <div *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{ errMess }}</h4>
    </div> -->
  <!-- </ion-content> -->

