<ion-header>
    <ion-navbar color="primary">
        <ion-buttons start>
            <button ion-button icon-only (click)="viewCtrl.dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
    <ion-title>Used RVs</ion-title>
  </ion-navbar>
</ion-header>

  <ion-footer>
      <ion-toolbar color="primary">
          <ion-buttons start>
              <button ion-button (click)="openLogout()">Logout</button>  
            </ion-buttons>
    
        <ion-buttons end>
            <button ion-button  (click)="openFavorite()">
                <ion-icon name="heart-outline"></ion-icon></button>
            <button ion-button  (click)="openSettings()">
                    <ion-icon name="settings"></ion-icon></button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>




      <!-- <ion-card>
          <div class="card-title">Sunseeker</div>
        <img src="assets/imgs/sunset.jpeg"/>
        
        <div class="card-subtitle">40 Listings</div>
        
      </ion-card> -->
    
    
    <!-- <ion-list *ngFor="let specials of specialsList">

      <ion-item>{{specials.id}} {{specials.specials}}

      </ion-item>
    </ion-list> -->

    <!-- this card not showing -->
     <!-- one rv--> 
     <!-- <ion-card class="rvs-card" *ngIf="rvs">
       <img src= {{rvs[0].urlToImage}} 
       <img src="https://firebasesto...-84f6-d4b5cdb66019">
       <ion-card-content>
         <ion-card-title>
           {{ rvs[0].title }}
           </ion-card-title>
         <p class="card-author">
          By: {{ rvs[0].author }} 
         </p>
         <p class="card-author">
           Source: {{ rvs[0].source.name }}
         </p>
         <p class="card-desc">
           {{ rvs[0].description }}
         </p>
         <button ion-button>
           <a href="{{ rvs[0].url }}">Read More</a>
         </button>
       </ion-card-content>
     </ion-card> -->

    <!-- Heart icon   -->
     <!-- <ion-fab bottom right [hidden]="favorite">
      <button ion-fab (click)="addToFavorites()">
        <ion-icon name="heart-outline"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab bottom right *ngIf="favorite">
      <button ion-fab>
        <ion-icon name="heart"></ion-icon>
      </button>
    </ion-fab>  -->

    <!-- <ion-fab right bottom>
      <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
     <ion-fab-list side="left">
      <button ion-fab><ion-icon name="heart-outline"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-share"></ion-icon></button>
        </ion-fab-list>
  </ion-fab>
  <ion-fab left bottom >
    <button ion-fab>Share</button>
  </ion-fab> -->
          


