
<!-- ****MAIN PAGE AFTER LOGGING IN**** -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  
  </ion-navbar>  
</ion-header>

<ion-content>
  <ion-card *ngIf="rv">
    <img src="{{BaseURL + rv.image}}"/>
    <ion-card-content>
      <ion-card-title>
        {{rv.name | uppercase}}
      </ion-card-title>
      <p>
        {{rv.description}}
      </p>
    </ion-card-content>
  </ion-card>
  <div [hidden]="rv || rvErrMess">
    <ion-spinner></ion-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="rvErrMess">
    <h2>Error</h2>
    <h4>{{rvErrMess}}</h4>
  </div>
    
  <ion-card *ngIf="promotion">
    <img src="{{BaseURL + promotion.image}}"/>
    <ion-card-content>
      <ion-card-title>
        {{promotion.name | uppercase}}
      </ion-card-title>
      <p>
        {{promotion.description}}
      </p>
    </ion-card-content>
  </ion-card>
  <div [hidden]="promotion || promoErrMess">
    <ion-spinner></ion-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="promoErrMess">
    <h2>Error</h2>
    <h4>{{promoErrMess}}</h4>
  </div>
  
  
  </ion-content>


  <!-- inital set up  -->
  <!-- if the upper one doesnt work use this one -->
<!-- <ion-content padding> 
  <ion-searchbar [(ngModel)]="terms"></ion-searchbar> -->
  <!-- <button ion-button type="button" (click)="sort()">Sort</button>  -->
 <!-- </ion-content>
<ion-footer>
    <ion-toolbar color="primary">
     <ion-buttons start>
            <button ion-button (click)="openLogout()">LOGOUT</button>  
          </ion-buttons>
  
      <ion-buttons end>
          <button ion-button  (click)="openFavorite()">
              <ion-icon name="heart-outline"></ion-icon></button> 

          <button ion-button  (click)="openSettings()">
                  <ion-icon name="settings"></ion-icon></button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>  
 -->

  