<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
      </ion-navbar>      
    
</ion-header>


<ion-content padding>

    <!-- <ion-tabs>
        <ion-tab [root]="tab1Root"></ion-tab>
        <ion-tab [root]="tab2Root"></ion-tab>
        <ion-tab [root]="tab3Root"></ion-tab>
      </ion-tabs> -->

  <h3>Sunset RV App</h3>

  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p>

  <button ion-button secondary menuToggle>Click for Menu</button>
  
</ion-content>

  <ion-grid> 
      <ion-row align-items-center> 
        <ion-col col-12 col-lg-4> 
  <ion-card *ngIf="rvs">
    <img src="{{BaseURL + rvs.image}}"/>
    <ion-card-content>
      <ion-card-title>
        {{rvs.name | uppercase}}
      </ion-card-title>
      <p>
        {{rvs.description}}
      </p>
    </ion-card-content>
  </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>


  <div [hidden]="rvs || rvsErrMess">
    <ion-spinner></ion-spinner>
    <h4>Loading . . . driving off the lot</h4>
  </div>
  <div *ngIf="rvsErrMess">
    <h2>Error</h2>
    <h4>{{rvsErrMess}}</h4>
  </div>

  


    
