<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end >
      <button ion-button (click)="openLogin()">
          
      <ion-icon name="log-in"></ion-icon>
    </button>
    </ion-buttons>
  
  </ion-navbar>  

             
     
    
</ion-header>


<ion-content padding>

  <h3>Welcome to Sunset RV</h3>

</ion-content>

  <!-- <ion-tabs>
      <ion-tab [root]="specialsRoot" tabTitle="RV-Specials" tabIcon="chat"></ion-tab>
     </ion-tabs>


  <button ion-button secondary menuToggle>Click for Menu</button>
  
</ion-content>

  <ion-grid> 
      <ion-row align-items-center> 
        <ion-col col-12 col-lg-4> 
  <ion-card *ngIf="rvs">
    <img src="{{BaseURL + rvs.image}}"/>
    <ion-card-content>
      <ion-card-title>
        {{rvs.name | uppercase}}
      </ion-card-title>
      <p>
        {{rvs.description}}
      </p>
    </ion-card-content>
  </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>



  <div [hidden]="rvs || rvsErrMess">
    <ion-spinner></ion-spinner>
    <h4>Loading . . . driving off the lot</h4>
  </div>
  <div *ngIf="rvsErrMess">
    <h2>Error</h2>
    <h4>{{rvsErrMess}}</h4>
  </div> -->

  


    
