<!--
  Generated template for the SpecialsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>specials</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-content padding>
    
     <!--1st News article-->
     <ion-card class="news-card" *ngIf="news">
       <img src= {{news[0].urlToImage}} />
       <ion-card-content>
         <ion-card-title>
           {{ news[0].title }}
           </ion-card-title>
         <p class="card-author">
          By: {{ news[0].author }} 
         </p>
         <p class="card-author">
           Source: {{ news[0].source.name }}
         </p>
         <p class="card-desc">
           {{ news[0].description }}
         </p>
         <button ion-button>
           <a href="{{ news[0].url }}">Read More</a>
         </button>
       </ion-card-content>
     </ion-card>

    <!-- Heart icon  -->
     <ion-fab bottom right [hidden]="favorite">
      <button ion-fab (click)="addToFavorites()">
        <ion-icon name="heart-outline"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab bottom right *ngIf="favorite">
      <button ion-fab>
        <ion-icon name="heart"></ion-icon>
      </button>
    </ion-fab>
          
</ion-content>
