<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Menu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

  <div *ngIf="rvs">
  <ion-card *ngFor="let rv of rvs" (click)="rvSelected($event, rv)"(pan)="addToFavorites(dish)">
    <img src="{{BaseURL + rv.image}}"/>
    <div class="card-title">{{rv.name}}</div>
    <div class="card-subtitle">{{rv.description}}</div>
  </ion-card>
  </div>
  <div [hidden]="rvs || errMess">
  
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</ion-content>
